/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #FFF1F7;
  --bg-image: url(/images/cover-image-light.png);
  --color-title-L: #FFC2E6;
  --color-title-m: #353430;
  --color-button: #353430;
  --color-description-header: #353430;
  --color-description-content: #353430;
  --color-link: #353430;
  --accent-color: #FF8DCB;
  --accent-color-transparent: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --bg-image: url(/images/cover-image-light.png);
    --color-title-L: #FFC2E6;
    --color-title-m: #353430;
    --color-button: #353430;
    --color-description-header: #353430;
    --color-description-content: #353430;
    --color-link: #353430;
    --accent-color: #FF8DCB;
    --accent-color-transparent: rgba(50, 49, 45, 0.4);
  }

  .header__rec {
    display: none;
  }
}

.theme-light .header__rec {
  display: none;
}