/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(/images/cover-image-dark.png);
  --color-title-L: #DB00FF;
  --color-description-1: #F1B2CE;
  --color-description-2: #000028;
  --accept-color: #FF0070;
  --font-family: 'IBM Plex Mono';
  --font-size: 18px;
  --font-weight-s: 400;
  --font-weight-m: 700;
  --padding-inline-s: 10px;
  --padding-block-s: 10px;
  --margin-inline-s: 10px;
  --margin-block-s: 10px;
  --line-height: 23px;
}